.chatBot {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.react-chatbot-kit-chat-container {
    width: 400px !important;
}

.react-chatbot-kit-chat-message-container {
    overflow: auto !important;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 5px !important;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
}
